# Ignore compiled Python files
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.tar.gz

# Virtual environments
venv/
.ipole_venv/
.ipole-env/
ipole_venv/

# Logs and cache
*.log
*.out
*.err
*.tmp

# VSCode settings
.vscode/
*.code-workspace

# Mac and Linux system files
*.zip
.DS_Store
*.swp

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore any ipole outputs
*.h5
*.par
*.pgm
*.ppm
*.fits
*.dat

# Output folders
output/
tmp/
figures/

# Ignore specific user directories
notebooks/
ipole/
aricarte/aricarte-copy/PositronIPOLEScripts/ffmpeg/
aricarte/gsl-1.16/
igrmonty/
tristan-mp-v2/
hdf5/
hdf5-1.14.3/
hdf5-parallel/
pic-env/
build-hdf5/*
